@font-face {
    font-family: $FrauncesBold;
    src: url(../Fonts/Fraunces_9pt_Soft-Bold.ttf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: $BorlowBold;
    src: url(../Fonts/Barlow-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: $BorloWRegular;
    src: url(../Fonts/Barlow-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}