* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEFCF7;
}

.container {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    font-family: $BorloWRegular;
    font-size: 16px;
    line-height: 26px;
    mix-blend-mode: normal;
}