.drinkcoffe {
    margin-top: 168px;
    padding-left: 85px;
    &__wrapper {
        display: flex;
    }
    &__left {
        width: 255px;
        height: 356px;
    }
    &__list hr {
        width: 255px;
        height: 1px;
        background: #83888F;
        mix-blend-mode: normal;
        opacity: 0.25;
    }
    &__item {
        // width: 255px;
        display: flex;
        gap: 28px;
        margin: 24px 0px;
        cursor: pointer;
    }
    &__item p {
        font-family: $FrauncesBold;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #9fa5ad;
        &:hover {
            color: #33363b;
        }
        &:active {
            color: black;
        }
    }
    .drinkcoffe__text {
        color: #0E8784;
    }
    .drinkcoffe__titles {
        width: 730px;
        @include flex(space-between);
        h2 {
            font-family: $FrauncesBold;
            font-size: 40px;
            line-height: 48px;
            color: #83888F;
        }
    }
    &__right {
        margin-left: 125px;
    }
    &__list2 {
        display: none;
        // display: flex;
        gap: 23px;
        margin-top: 56px;
    }
    &__item2 {
        @include cardss;
        h6 {
            font-family: $FrauncesBold;
            font-size: 24px;
            line-height: 32px;
            color: #333D4B;
        }
        p {
            margin-top: 24px;
            width: 172px;
            height: 78px;
            font-size: 16px;
            line-height: 26px;
            color: #333D4B;
        }
    }
    &__summary {
        width: 730px;
        height: 208px;
        background: #2C343E;
        padding: 31px 0px 0px 64px;
        margin-bottom: 40px;
        p {
            font-family: $BorlowBold;
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
            margin-bottom: 8px;
        }
        blockquote {
            font-family: $FrauncesBold;
            font-size: 24px;
            line-height: 40px;
            color: #FFFFFF;
            width: 602px;
            span {
                color: #0E8784;
            }
        }
    }
    button {
        @include button;
        margin-left: 509px;
    }
}

#radio1:checked~.drinkcoffe__list2 {
    display: flex;
}

#radio1 {
    display: none;
}

#radio1:checked~.drinkcoffe__titles img {
    transform: rotateZ(180deg);
}

#radio2:checked~.drinkcoffe__list2 {
    display: flex;
}

#radio2 {
    display: none;
}

#radio2:checked~.drinkcoffe__titles img {
    transform: rotateZ(180deg);
}

#radio3:checked~.drinkcoffe__list2 {
    display: flex;
}

#radio3 {
    display: none;
}

#radio3:checked~.drinkcoffe__titles img {
    transform: rotateZ(180deg);
}

#radio4:checked~.drinkcoffe__list2 {
    display: flex;
}

#radio4 {
    display: none;
}

#radio4:checked~.drinkcoffe__titles img {
    transform: rotateZ(180deg);
}

#radio5:checked~.drinkcoffe__list2 {
    display: flex;
}

#radio5 {
    display: none;
}

#radio5:checked~.drinkcoffe__titles img {
    transform: rotateZ(180deg)
}

.drinkcoffe__titles img {
    transform: all 0.2s linear;
}

@media only screen and (max-width:768px) {
    .drinkcoffe {
        padding: 0px 15px;
        &__item2 {
            @include cardss;
            margin-top: 40px;
            margin-bottom: 100px;
        }
        &__left {
            display: none;
        }
        &__right {
            margin-left: 0px;
        }
        .drinkcoffe__titles {
            h2 {
                font-size: 32px;
                line-height: 48px;
            }
        }
        &__list2 {
            gap: 10px;
            margin-top: 10px;
        }
        &__summary {
            width: 689px;
            height: 208px;
            padding: 31px 0px 0px 40px;
        }
        button {
            margin-left: 260px;
        }
    }
}

@media only screen and (max-width:375px) {
    .drinkcoffe {
        margin-top: 111px;
        padding-left: 0px;
        .drinkcoffe__titles {
            width: 328px;
            margin-top: 100px;
            h2 {
                font-size: 24px;
                line-height: 28px;
                width: 240px;
                height: 56px;
            }
        }
        &__right {
            margin-left: 0px;
        }
        &__list2 {
            display: flex;
            gap: 16px;
            // margin-top: 32px;
            flex-direction: column
        }
        &__item2 {
            @include cardss;
            width: 328px;
            height: 140px;
            padding: 24px 25px;
            margin: 0px;
            p {
                margin-top: 8px;
                width: 278px;
                height: 52px;
                ;
            }
        }
        &__summary {
            width: 328px;
            height: 338px;
            background: #2C343E;
            padding: 32px 25px;
            margin-bottom: 40px;
            margin-top: 114px;
            p {
                font-size: 16px;
                line-height: 26px;
            }
            blockquote {
                width: 279px;
                height: 240px;
                font-size: 24px;
                line-height: 40px;
            }
        }
        button {
            @include button;
            margin-left: 55px;
        }
    }
}